# Compilación Maven
target/
semana8/SpeedFastApp/target/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Configuración de IDEs
.idea/
*.iml

.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
